#
# Broadcom Home Networking Division (HND) driver configuration
#
# Copyright (C) 2004 Broadcom Corporation
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
#
#

# mainmenu_option next_comment
menu "Broadcom network devices"

config HND
   tristate "Broadcom network device support"
   depends on PCI

config ET
     tristate "  Broadcom 10/100 Ethernet support"
     depends on HND

config ET_47XX
     bool "  Broadcom BCM53xx/BCM47xx support"
     depends on ET

config ROBO
     tristate "  Broadcom BCM53xx ROBOSwitch support"
     depends on HND

config WL
     tristate "  Broadcom BCM43xx 802.11 Wireless support"
     depends on HND

config STRATA
     tristate "  Broadcom BCM56xx Ethernet Switch support"
     depends on HND

config WL_AP
     bool "    Access Point Mode"
     depends on WL

config  CONFIG_USBDEV
     tristate "    Broadcom BCM47xx RNDIS USB support"
     depends on HND

endmenu
